/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   #features{
      text-align:center;
   }

   #features img{
      margin-bottom: 20px;
   }
   #inputMessage{
      margin-bottom: 20px;
   }
   footer{
      background: #333;
      color: #eee;
      font-size: 10px;
      padding: 20px;
   }

/* --------------------------------------
   Typography
   -------------------------------------- */
   .alert{
      margin-top: 20px;
      display: none;
   }
   body{
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
   }

   .well .page-header{
      margin-top: 0;

   }

   .well .page-header h1{
      margin-top: 0;
   }

   .unstyled{
      list-style: none;
      padding: 0;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
      width: 200px;
   }

   .navbar-brand{
      padding: 0px 15px;

   }
   .navbar{
      background: linear-gradient(to bottom,white 0% , grey 100%)
   }
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel{
      margin-top:60px;
   }

   .carousel-caption{
      font-size: 25px;
   }

   .carousel-caption h4{
      font-size: 32px;
   }

   #myCarousel .item{
      height: 400px;
   }

   #slide1{
      background: url('../../images/black1_medium.jpg');
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide2{
      background: url('../../images/skyline_medium.jpg');
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide3{
      background: url('../../images/skyline3_medium.jpg');
      background-position: top-center;
      background-repeat: no-repeat;
   }
/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .well{
      margin: 20px 0;
   }
   .tabable img .thumbnail{
      margin: 0 40px 10px 0;
   }
   .thumbnails{
      margin: 20px 0;
   }
   .thumbnail{
      position: relative;
   }
   .thumbnail h3{
      font-size: 20px;
      margin: 10px 0;
      line-height: 20px;
   }
   .thumbnail .price{
      font-size: 22px;
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 10px;
   }
   .thumbnail .price sup{
      font-weight: normal;
      font-size: 13px;
   }
   .thumbnail span .glyphicon{
      margin-right: 6px;
   }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   
   .thumbnail .price{
      font-size: 12px;
   }
   .thumbnail .price sup{
      font-size: 8px;
   }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   
   #myCarousel .item{
      height: 310px;
   }

   #slide1{
      background: url('../../images/black1_small.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide2{
      background: url('../../images/skyline2_small.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide3{
      background: url('../../images/skyline3_small.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   .carousel-caption{
      font-size:16px;
   }

   .carousel-caption h4{
      font-size: 22px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
   
   #myCarousel .item{
      height: 500px;
   }
   

   #slide1{
      background: url('../../images/black1_large.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide2{
      background: url('../../images/skyline2-large.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   #slide3{
      background: url('../../images/skyline3_large.jpg') ;
      background-position: top-center;
      background-repeat: no-repeat;
   }

   
} 
/***
******************
Additional Changes
******************
***/

#featuresHeading h2,p{
   margin-left: 18px;
}

body{
   background:white;

} 

.well p{
   margin-left: 0px;
} 

#tab1 p{
   margin-left: 0px;
   margin-top: 10px;
} 

#tab2 p{
   margin-left: 0px;
}

#serve p{
   margin-left: 0px;
}

#charity p{
   margin-left: 0px;
}

#corporate p{
   margin-left: 0px;
}

#AboutUs p{
   margin-left: 0px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #cc9e9e;
    font-family: 'Sedgwick Ave Display', cursive;

}

h1,h2,h3,h4,h5 {
   font-family: 'Permanent Marker', cursive;
}

p{
   font-family: 'Courgette', cursive;
} 

.navbar-nav>li>a {
    
    font-family: 'Sedgwick Ave Display', cursive;
    color: black;
    
}
#toggleButton{
   color: black;
}